@charset 'utf-8';
.visual {
  /* height: 108rem; */
  position: relative;
  height: 56.25vw;
}
.btn-play {
  position: absolute;
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../img/btn-play.png) no-repeat 50%;
  border-radius: 50%;
  border: 1px solid var(--white);
  bottom: 28.8rem;
  left: 8rem;
  z-index: 1;
}

.visual .visual-arcterycx {
  position: absolute;
  top: 12rem;
  left: 50%;
  width: 96.875%;
  transform: translateX(-50%);
  z-index: 1;
  /* background: #5f5; */
}
.visual-slider {
  height: 56.25vw;
}
.visual-slider .slide-item {
  height: 100%;
  position: relative;
}
.visual-slider .slide-item figure {
  width: 100%;
  height: 100%;
}
.visual-slider .slide-item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual-title {
  /* background: #5f5; */
  /* posa+t50p+l50p+trft */
  position: absolute;
  bottom: 7.9rem;
  left: 8rem;
  color: #fff;
  width: 50%;
}
.visual-title h2 {
  font-size: 4rem;
  line-height: 150%;
  font-weight: 500;
}
.visual-title p {
  margin-top: 0.4rem;
  font-weight: 400;
}

.introduce {
  position: relative;
  /* border: 5px solid #000; */
  height: 167rem;
  height: 86.9792vw;
}
.introduce-pic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.introduce-pic figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.introduce .introduce-title {
  position: absolute;
  top: 26.4rem;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  color: var(--black);
}
.introduce .introduce-title h3 {
  line-height: 100%;
  font-size: 10rem;
}
.introduce .introduce-title h3 strong {
  font-size: 10rem;
  font-weight: 700;
}
.introduce .introduce-title p {
  margin-top: 6rem;
  font-size: 3.4rem;
}

.new-collection {
  margin-top: 5rem;
}
.new-collection-title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  padding-right: 8rem;
}
.new-collection-title h3 {
  font-size: 7rem;
  font-weight: 700;
}
.btn-more {
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  gap: 1.6rem;
  position: relative;
  align-items: center;
  transition: 0.4s;
}
.btn-more:hover::before {
  width: 14rem;
}
.btn-more:hover.btn-more {
  color: var(--white);
}
.btn-more::before {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  background: #000;
  border-radius: 50px;
  position: absolute;
  right: 0rem;
  z-index: -1;
  transition: 0.4s;
}
.btn-more::after {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../img/btn-more.png) no-repeat 50% / 40%;
  border-radius: 50px;
}
.new-collection-bg {
  width: 100%;
  background: url(../img/NC-bg.png) no-repeat 50% / cover;
  position: relative;
}
.new-collection-model {
  position: absolute;
  bottom: 0;
  width: 50.7813%;
}
.new-collection-model img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.new-collection-wrap {
  padding-top: 8.5rem;
  width: 50%;
  margin-left: auto;
  padding-right: 8rem;
}
.new-collection-list {
  display: flex;
  overflow-x: auto;
}
.new-collection-list li {
  display: block;
  width: 38rem;
  aspect-ratio: 1/1.1052;
  /*  background: #5f5; */
  flex-shrink: 0;
  text-align: center;
}
.new-collection-list li figure {
  width: 38rem;
  aspect-ratio: 1/1.0157;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-collection-list li p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white);
}

.bar-whole {
  height: 0.6rem;
  background: var(--white30);
  position: relative;
}
.bar-whole .bar-now {
  position: absolute;
  left: 0;
  width: 50%;
  height: 0.6rem;
  background: var(--white);
}
.new-collection-button {
  margin-top: 2.5rem;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.pre-btn {
  display: block;
  width: 4.4rem;
  height: 1.4rem;
  background: url(../img/next.png) no-repeat 50% / contain;
}
.next-btn {
  display: block;
  width: 4.4rem;
  height: 1.4rem;
  background: url(../img/pre.png) no-repeat 50% / contain;
}

.new-collection-con {
  padding-top: 8rem;
  padding-bottom: 9rem;
  width: 50%;
  margin-left: auto;
  padding-right: 8rem;
  color: var(--white);
}
.new-collection-con strong {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 100%;
}
.new-collection-con h4 {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 7.7rem;
}
.new-collection-con p {
  line-height: 160%;
  margin-top: 2.4rem;
  font-weight: 400;
}

.best-sellers {
  margin-top: 20rem;
}
.best-sellers-title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 8rem;
  padding-left: 8rem;
}
.best-sellers-title h3 {
  font-size: 7rem;
  font-weight: 700;
}
.best-sellers-list {
  display: flex;
}
.best-sellers-list-item {
  position: relative;
  width: 25%;
  aspect-ratio: 1/1.5416;
  border: solid #000;
  border-width: 1px 0 1px 1px;
  /*  margin-left: -1px; */
  overflow: hidden;
}

.best-sellers-list-con {
  width: 100%;
  height: 14rem;
  border-top: 1px solid #000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.best-sellers-list-con strong {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 100%;
}
.best-sellers-list-con p {
  display: flex;
  justify-content: space-between;
  color: var(--gray1);

  line-height: 100%;
}
.best-sellers-list-con span {
  display: block;
}
.best-sellers-list-item figure {
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.best-sellers-list-item figure .item1 {
  /* background: var(--white); */
  position: absolute;
  z-index: 1;
  transition: 0.4s;
}
.best-sellers-list-item figure .item-hover1 {
  position: absolute;
  opacity: 0;
  background: var(--white);
  transition: 0.4s;
}
.best-sellers-list-item:hover .item1 {
  opacity: 0;
}
.best-sellers-list-item:hover .best-sellers-list-hover {
  bottom: 0;
}
.best-sellers-list-item:hover .item-hover1 {
  opacity: 1;
}
.best-sellers-list-hover {
  position: absolute;
  bottom: -23rem;
  height: 23rem;
  border-top: 1px solid #000;
  /*  padding: 6.2rem 10.3rem; */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 2.2rem;
  background: var(--white);
  transition: 0.4s;
}
.best-sellers-list-hover-size {
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-sellers-list-hover-size li {
  padding: 0 11px;
  font-size: 1.8rem;
  line-height: 100%;
}
.btn-add-to-cart {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  width: 27.5rem;
  height: 6.5rem;
  background: var(--black);
  color: var(--white);
  border-radius: 50px;
  gap: 2rem;
  /* margin-top: 2.2rem; */
}
.btn-add-to-cart::after {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/btn-more.png) no-repeat 50% / contain;
}
/* .best-indicater-group {
  margin: 8rem 8rem 0;
}
.best-bar-whole {
  height: 0.6rem;
  background: var(--black20);
  position: relative;
}
.best-bar-now {
  position: absolute;
  left: 0;
  width: 25%;
  height: 0.6rem;
  background: var(--black);
}
.bset-pre-btn {
  display: block;
  width: 4.4rem;
  height: 1.4rem;
  background: url(../img/bk-pre.png) no-repeat 50% / contain;
}
.bsetnext-btn {
  display: block;
  width: 4.4rem;
  height: 1.4rem;
  background: url(../img/bk-next.png) no-repeat 50% / contain;
} */

/* ment */
.design-ment {
  margin-top: 28rem;
}

.design-ment-item {
  border: 1px solid #000;
}
.design-ment-item:nth-child(2) {
  text-align: right;
}

.design-ment-item p {
  display: inline;
  font-weight: 500;
  font-size: 12.6rem;
  /* font-size: 7vw; */
  line-height: 1.2;
}

.design-ment-item p strong {
  font-weight: 700;
  color: var(--gray2);
}

.design-ment-item .img {
  display: inline;
  position: absolute;
  border: 1px solid #f00;
}
.design-ment-item .img img {
  max-width: initial;
}

.ment-bag {
  transform: translate(50px, 0);
}

.ment-shoes {
  transform: translate(-110%, -10%);
}

.scape {
  transform: translate(30px, -122px);
}

.cloth {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(70%, -50%);
}

@media (max-width: 1200px) {
  .design-ment-item p {
    font-size: 10vw;
  }
  .design-ment-item p strong {
    display: block;
  }
}
/* end: ment */

.main-keyword {
  margin-top: 38.5rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.main-keyword-rebird {
  display: flex;
  align-items: center;
}
.main-keyword figure {
  position: relative;
  width: 50%;
  height: 96rem;
}
.main-keyword figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-keyword figure:hover::after {
  background: rgba(0, 0, 0, 40%);
}
.main-keyword figure:hover .btn-readmore {
  opacity: 1;
}

.main-keyword figure::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0%);
  transition: 0.4s;
}
.btn-readmore {
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  gap: 1.6rem;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: 0.4s;
}
.btn-readmore::after {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  background: var(--white) url(../img/btn-readmore.png) no-repeat 50% / 40%;
  border-radius: 50px;
}
.main-keyword-veilance {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.main-keyword-rebird-con {
  width: 50%;
  height: 96rem;
  padding: 10rem 8rem;
}
.main-keyword-veliance-con {
  width: 50%;
  height: 96rem;
  padding: 10rem 8rem;
  text-align: right;
}
.main-keyword strong {
  font-size: 2.4rem;
  font-weight: 500;
}
.main-keyword dl {
  margin-top: 41rem;
}
.main-keyword dt {
  font-weight: 500;
  font-size: 10rem;
  line-height: 100%;
}
.main-keyword dd {
  font-size: 2.4rem;
  line-height: 160%;
  margin-top: 5rem;
}
@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
}
.flow {
  border-bottom: 1px solid var(--black);
  display: flex;
}
.flow p {
  animation: marquee 10s linear infinite;
  white-space: nowrap;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 200%;
}

.flow:hover p {
  animation-play-state: paused;
}

/* 타블렛 디자인 */
@media (max-width: 768px) {
  .visual {
    height: 120.4688vw;
    position: relative;
  }
  .visual-slider {
    height: 120.4688vw;
  }
  .visual .visual-arcterycx {
    top: 9.5rem;
    /* background: #5f5; */
  }
  .btn-play {
    position: absolute;
    bottom: 20rem;
    left: 3.1rem;
  }
  .visual-title {
    /* background: #5f5; */
    /* posa+t50p+l50p+trft */
    position: absolute;
    bottom: 4.8rem;
    left: 3.1rem;
    color: #fff;
    width: 100%;
  }
  .visual-title h2 {
    font-size: 2.8rem;
  }
  .visual-title p {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .introduce {
    /* height: 1321px; */
    height: 132.9427vw;
  }
  .introduce .introduce-title {
    top: 17.6rem;
  }
  .introduce .introduce-title h3 {
    font-size: 7rem;
  }
  .introduce .introduce-title h3 strong {
    font-size: 7rem;
    font-weight: 700;
  }
  .introduce .introduce-title p {
    margin-top: 4rem;
    font-size: 2rem;
  }
  /* 
  .new-collection {
    margin-top: 3rem;
  }
  .new-collection-title {
    width: 91.9354%;
    margin: 0 auto;
    padding: 0;
  }
  .new-collection-title h3 {
    font-size: 4.8rem;
    font-weight: 700;
  }
  .btn-more {
    font-size: 1.8rem;
    gap: 1rem;
  }

  .btn-more::before {
    width: 3rem;
    height: 3rem;
  }
  .btn-more::after {
    width: 3rem;
    height: 3rem;
  }
  .new-collection-bg {
    height: 85.026vw;
  }
  .new-collection-model {
    left: -3rem;
    width: 68%;
  }
  .new-collection-wrap {
    width: 33.3333%;
    margin-left: auto;
    padding-right: 3.1rem;
    padding-top: 17.365rem;
  }

  .new-collection-list li {
    width: 22rem;
  }
  .new-collection-list li figure {
    width: 22rem;
  }

  .new-collection-list li p {
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
  }

  .bar-whole {
    height: 0.4rem;
    margin-top: 3.4rem;
  }
  .bar-whole .bar-now {
    height: 0.4rem;
  }
  .new-collection-button {
    display: none;
  }

  .new-collection-con {
    padding: 5.5rem 3rem;
    width: 100%;
    margin-top: 13.5rem;
    background: #000;
  }
  .new-collection-con h4 {
    font-size: 5.3rem;
    line-height: 130%;
  }
  .new-collection-con p {
    width: 75%;
    font-size: 1.6rem;
  } */

  .best-sellers-title {
    padding-right: 3.1rem;
    padding-left: 3.1rem;
  }
  .best-sellers-title h3 {
    font-size: 4.8rem;
    /*  font-weight: 700; */
  }
  .best-sellers-list {
    display: flex;
    overflow-x: auto;
  }

  .best-sellers-list-item {
    width: 50%;
    aspect-ratio: 1/1.7968;
    flex-shrink: 0;
  }

  .best-sellers-list-con {
    height: 11rem;
  }
  .best-sellers-list-con strong {
    font-size: 1.8rem;
  }
  .best-sellers-list-con p {
    font-size: 1.6rem;
  }

  .best-sellers-list-item figure {
    height: 47rem;
  }
  .best-sellers-list-item figure img {
    width: 80%;
  }
  .best-sellers-list-hover {
    bottom: 0;
    height: 11rem;
    border-top: 1px solid var(--gray1);
    /*  padding: 6.2rem 10.3rem; */
    width: 90%;
    row-gap: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .best-sellers-list-hover-size {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-sellers-list-hover-size li {
    padding: 0 1rem;
    font-size: 1.4rem;
  }
  .btn-add-to-cart {
    font-size: 1.8rem;
    width: 22rem;
    height: 5rem;
    gap: 1.4rem;
    /* margin-top: 2.2rem; */
  }
  .btn-add-to-cart::after {
    width: 1.6rem;
    height: 1.6rem;
  }

  /*  .design-ment {
    margin-top: 21rem;
  }
  .design-ment-con p {
    font-size: 8rem;
    line-height: 100%;
  }
  .design-ment-con-1 {
    display: flex;
    align-items: center;
  }
  .design-ment-con-2 {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .design-ment-con-3 {
    display: flex;
    color: var(--gray2);
    font-weight: 500;
  }
  .design-ment-con-4 {
    display: inline-block;
    justify-content: start;
    font-weight: 500;
    position: relative;
    padding-left: 15rem;
  }
  .design-ment-con-1 p {
    font-weight: 500;
  }
  .design-ment-con-2 p {
    color: var(--gray2);
    font-weight: 500;
  }
  .design-ment-con-2 strong {
    font-weight: 700;
  }
  .design-ment-con-4 .absolute {
    font-weight: 500;
  }
  .design-ment-con-4 strong {
    font-weight: 700;
    color: var(--gray2);
  }

  .design-ment-con-4 .img {
    position: relative;
    position: absolute;
    bottom: 2.7rem;
    right: -44rem;
  }

  .design-ment-con-4 .cloth {
    position: absolute;
    bottom: -6rem;
    right: -15rem;
  } */
}
